
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="https://you.yash.com/Pages/default.aspx">Yash Technologies</a>
                  </div>
                  <ul class="nav navbar-nav" >
                    <li><a *ngIf="ServiceAuth.isLogin()" routerLink="/Home">Home</a></li>
                    <li><a *ngIf="ServiceAuth.isLogin()" routerLink="/todolist">Todos</a></li>
                    <li><a *ngIf="ServiceAuth.isLogin()" routerLink="/calculator">Calculator</a></li>
                    <li><a *ngIf="ServiceAuth.isLogin()" routerLink="/counter">Counter</a></li>
                    <li><a *ngIf="ServiceAuth.isLogin()" routerLink="/select" >Select Service</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a *ngIf="!ServiceAuth.isLogin()" routerLink="/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                    <li><a *ngIf="ServiceAuth.isLogin()" routerLink="/Logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                  </ul>
                </div>
              </nav>
  

